.wrapperMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--brown);
}

.TitleMain {
  color: var(--white);
}
